<config><sourcelist><item><name>Memory card</name><location>D:/</location></item><item><name>Temp folder</name><location>C:/Photos</location></item><item><name>imagesdir on Windows 7</name><location>C:/Users/Nick/Programming/event/imagesdir</location></item></sourcelist><thumbsize>100</thumbsize><eventsdir>C:/Users/Nick/Programming/event/events</eventsdir></config>